# SPDX-FileCopyrightText: 2022 Jakub Wasylków <kuba_160@protonmail.com>
# SPDX-License-Identifier: CC0-1.0

[submodule "discord-rpc"]
	path = discord-rpc
	url = https://github.com/kuba160/discord-rpc.git
